# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata
.Rproj.user

# FMI API key
inst/extras/apikey.txt

# Secondary files
*~
.gitignore~
inst/extras/.RData
inst/extras/*~
inst/extras/document.Rout
inst/extras/rwfs.Rcheck
inst/extras/*.tar.gz
*.autosave
